In [255]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Inicializamos Dataset

In [256]:
df_pokemon = pd.read_csv("Pokemon.csv")
df_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

##### Verificamos Datos

In [257]:
#Informacios de los Datos de cada columna
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [258]:
#Descripciones estadisticas
df_pokemon.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [259]:
#Forma del dataframe
df_pokemon.shape

(800, 13)

#### Tratamiento de los Datos

In [260]:
df_1 = df_pokemon.copy()
df_1.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [261]:
#Renombrando columna con el metodo rename
df_1 = df_1.rename(columns = ({"#":"ID"}))
df_1.head(8)

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False

In [262]:
df_1["ID"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 800 entries, 0 to 799
Series name: ID
Non-Null Count  Dtype
--------------  -----
800 non-null    int64
dtypes: int64(1)
memory usage: 6.4 KB

In [263]:
df_1.groupby("Type 1")["Type 2"].describe()

         count unique       top freq
Type 1
Bug         52     11    Flying   14
Dark        21      8    Flying    5
Dragon      21      7    Flying    6
Electric    17     10    Flying    5
Fairy        2      1    Flying    2
Fighting     7      4   Psychic    3
Fire        24      9  Fighting    7
Flying       2      1    Dragon    2
Ghost       22      6     Grass   10
Grass       37     10    Poison   15
Ground      19      9    Flying    4
Ice         11      5    Ground    3
Normal      37      7    Flying   24
Poison      13      7    Flying    3
Psychic     19      7     Fairy    6
Rock        35     12    Ground    6
Steel       22      8   Psychic    7
Water       53     14    Ground   10

#### Tratamiento de la columna [Type2]

In [264]:
df_2 = df_1.copy()
df_2

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [265]:
df_2_notnull = df_2.dropna()
df_2_notnull

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [266]:
df_2["Name"].nunique()

800

In [267]:
df_2["Type 1"].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [268]:
df_2_null = df_2[df_2["Type 2"].isnull()]
df_2_null

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,705,Sliggoo,Dragon,NaN,452,68,75,53,83,113,60,6,False
776,706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True

In [269]:
df_2_null["Type 1"].unique()

array(['Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric', 'Ground',
       'Fairy', 'Fighting', 'Psychic', 'Grass', 'Dragon', 'Rock', 'Dark',
       'Ghost', 'Steel', 'Ice', 'Flying'], dtype=object)

In [270]:
df_2_null.groupby("Type 1")['Type 2'].size().reset_index()

      Type 1  Type 2
0        Bug      17
1       Dark      10
2     Dragon      11
3   Electric      27
4      Fairy      15
5   Fighting      20
6       Fire      28
7     Flying       2
8      Ghost      10
9      Grass      33
10    Ground      13
11       Ice      13
12    Normal      61
13    Poison      15
14   Psychic      38
15      Rock       9
16     Steel       5
17     Water      59

##### Trabajo de datos nulos en type 2

In [271]:
df_3 = df_2_null.copy()
df_3

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,705,Sliggoo,Dragon,NaN,452,68,75,53,83,113,60,6,False
776,706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True

In [272]:
df_3[df_3["Type 1"] == "Fire"].shape

(28, 13)

In [273]:
df_1.groupby("Type 1")["Type 2"].describe()

         count unique       top freq
Type 1
Bug         52     11    Flying   14
Dark        21      8    Flying    5
Dragon      21      7    Flying    6
Electric    17     10    Flying    5
Fairy        2      1    Flying    2
Fighting     7      4   Psychic    3
Fire        24      9  Fighting    7
Flying       2      1    Dragon    2
Ghost       22      6     Grass   10
Grass       37     10    Poison   15
Ground      19      9    Flying    4
Ice         11      5    Ground    3
Normal      37      7    Flying   24
Poison      13      7    Flying    3
Psychic     19      7     Fairy    6
Rock        35     12    Ground    6
Steel       22      8   Psychic    7
Water       53     14    Ground   10

#### Rellenando Datos Dulos por type 1

In [274]:
df_3_Fire = df_3[df_3["Type 1"] == "Fire"].fillna("Fighting")
df_3_Bug = df_3[df_3["Type 1"] == "Bug"].fillna("Flying")
df_3_Dark = df_3[df_3["Type 1"] == "Dark"].fillna("Flying")
df_3_Dragon = df_3[df_3["Type 1"] == "Dragon"].fillna("Flying")
df_3_Electric = df_3[df_3["Type 1"] == "Electric"].fillna("Flying")
df_3_Fairy = df_3[df_3["Type 1"] == "Fairy"].fillna("Flying")

In [275]:
df_3_Fighting = df_3[df_3["Type 1"] == "Fighting"].fillna("Psychic")
df_3_Flying = df_3[df_3["Type 1"] == "Flying"].fillna("Dragon")
df_3_Ghost = df_3[df_3["Type 1"] == "Ghost"].fillna("Grass")
df_3_Grass = df_3[df_3["Type 1"] == "Grass"].fillna("Poison")
df_3_Ground = df_3[df_3["Type 1"] == "Ground"].fillna("Flying")

In [276]:
df_3_Ice = df_3[df_3["Type 1"] == "Ice"].fillna("Ground")
df_3_Normal = df_3[df_3["Type 1"] == "Normal"].fillna("Flying")
df_3_Poison = df_3[df_3["Type 1"] == "Poison"].fillna("Flying")
df_3_Psychic = df_3[df_3["Type 1"] == "Psychic"].fillna("Fairy")
df_3_Rock = df_3[df_3["Type 1"] == "Rock"].fillna("Ground")
df_3_Steel = df_3[df_3["Type 1"] == "Steel"].fillna("Psychic")
df_3_Water = df_3[df_3["Type 1"] == "Water"].fillna("Ground")

##### Concatenando

In [277]:
df_concat = pd.concat([

    df_3_Fire,
    df_3_Grass,
    df_3_Bug,
    df_3_Dark,
    df_3_Dragon,
    df_3_Electric,
    df_3_Fairy,
    df_3_Fighting,
    df_3_Flying,
    df_3_Ghost,
    df_3_Ground,
    df_3_Ice,
    df_3_Normal,
    df_3_Poison,
    df_3_Psychic,
    df_3_Rock,
    df_3_Steel,
    df_3_Water,

])

In [278]:
df_concat

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,Fighting,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,Fighting,405,58,64,58,80,65,80,1,False
42,37,Vulpix,Fire,Fighting,299,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,Fighting,505,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,Fighting,350,55,70,45,70,50,60,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,Ground,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,Ground,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,Ground,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,Ground,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,Ground,500,71,73,88,120,89,59,6,False

In [279]:
df_total = pd.concat([

    df_2_notnull,
    df_concat,

]).sort_index() #Metodo para ordenar los indices e menor a mayor

In [281]:
df_total

,ID,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,Fighting,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

##### Creando archivo CSV

In [289]:
df_total.to_csv("df_clean.csv", index = False)